:root { /* Color variables */
    --primary-color: #ffffff;
    --secondary-color: #817c7c;
    --text-color: #000000;
    --title-color: #368517;
    --footer-text-color: #ffffff;

    /* Button color variables */
    --task-color: #4CAF50;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--task-color);
    text-align: center;
}

#main-title {
    text-align: center;
    color: var(--task-color);
}

.page-description-container { /* gray box you see at the top with the page description styling */
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-align: center;
}
.page-description { /* description text styling */
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
}

.task-input-container { /* input box container styling */
    max-width: 600px;
    margin: 0 auto 20px;
    display: flex;
    gap: 10px;
}

#addbtn { /* add task button styling */
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--task-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#back-btn { /* back to dashboard button styling */
    color: var(--primary-color);
    background-color: var(--task-color);
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
}

#tasklist { /* task list styling */
    max-width: 600px;
    padding: 10px;
    margin-top: 20px;
    list-style: none;
}

.task-container { /* task list container styling */
    max-width: 600px;
    margin: 0 auto 40px;
    list-style-type: none;
}

.task { /* individual task-box styling */
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.text { /* task text styling. Separates the delete button from text */
    padding-right: 20px;
    flex: 1;
    min-width: 0;
}

/*footer styling*/
#footer {
    margin-top: auto;
    background-color: var(--secondary-color);
    width: 100%;
}
.footer-text {
    text-align: center;
    color: var(--footer-text-color);
}
