:root {
    --primary-color: #ffffff;
    --secondary-color: #817c7c;
    --text-color: #000000;
    --title-color: #368517;
    --footer-text-color: #ffffff;

    /* Button color variables */
    --task-color: #4CAF50;
    --converter-color: #2196F3;
    --notes-color: #FF9800;
    --timer-color: #F44336;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--timer-color);
    text-align: center;
}

#main-title {
    text-align: center;
    color: var(--timer-color);
    margin-top: 15px 0;
}

#subheading {
    text-align: center;
    color: white;
    margin-top: -10px;
    margin-bottom: 20px;
}

.page-description-container {
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-align: center;
}
.page-description {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
}

#back-btn {
    color: var(--primary-color);
    background-color: var(--timer-color);
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
}

#back-btn:hover {
    background-color: var(--timer-color);
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    color: var(--primary-color);
    background-color: var(--timer-color);
    min-width: 120px;
}

.timer {
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
}

.time-inputs {
    text-align: center;
    margin-bottom: 20px;
}

.timer-controls {
    text-align: center;
    margin-top: 20px;
}

#footer {
    margin-top: auto;
    background-color: var(--secondary-color);
    width: 100%;
}
.footer-text {
    text-align: center;
    color: var(--footer-text-color);
}

/* Responsive Design */
@media (max-width: 600px) {
    .btn {
        min-height: 100px;
        font-size: 16px;
    }
}