:root { /* Color variables */
    --primary-color: #ffffff;
    --secondary-color: #817c7c;
    --text-color: #000000;
    --title-color: #368517;
    --footer-text-color: #ffffff;

    /* Button color variables */
    --converter-color: #2196F3;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    color: var(--converter-color);
    text-align: center;
}

h3 {
    color: var(--converter-color);
    text-align: center;
}

#main-title {
    text-align: center;
    color: var(--converter-color);
}

.page-description-container { /* gray box you see at the top with the page description styling */
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-align: center;
}
.page-description { /* description text styling */
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.5;
}

#back-btn { /* back to dashboard button styling */
    color: var(--primary-color);
    background-color: var(--converter-color);
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
}

#divider { /* container for the three converter boxes */
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    gap: 20px;
}

.converter-box { /* individual converter box styling */
    max-width: 370px;
    width: 90%;
    padding: 20px;
    border: 2px solid var(--converter-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#distanceResult, #volumeResult, #tempResult { /* result text styling */
    margin-top: 10px;
    font-weight: bold;
    color: var(--converter-color);
    text-align: center;
}

/* footer styling */
#footer {
    margin-top: 20px;
    background-color: var(--secondary-color);
    width: 100%;
}
.footer-text {
    text-align: center;
    color: var(--footer-text-color);
}

/* Responsive Design. Media queries did not affect final design much,
but it is always good to practice them
*/
@media (max-width: 600px) {
    #divider {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .converter-box {
        max-width: 100%;
    }

    h2 {
        margin: 20px 0 15px;
    }
}

@media (max-width: 480px) {

    #divider {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .converter-box {
        padding: 15px;
    }

    h2 {
        margin: 15px 0 10px;
    }

    h3 {
        margin-bottom: 10px;
    }
}

@media (max-width: 360px) {

    .converter-box {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}